h1 アカウント詳細
div ="名前：#{ current_user.name }"
div ="ID：#{ current_user.login_id }"
div ="ルームID：#{ current_user.room.regist_id }"


= link_to 'プロフィール編集', edit_profile_admin_acount_path(current_user), name: 'user_name' ,class: 'btn btn-primary'
= link_to 'パスワード変更', authentication_admin_acount_path(current_user), class: 'btn btn-primary'
= link_to '秘密の質問', authentication_question_admin_acount_path(current_user), class: 'btn btn-primary'
= link_to 'ルーム編集', admin_room_path(current_user), class: 'btn btn-primary'
= link_to 'アカウント削除', destroy_modal_admin_acount_path(current_user), remote: true, class: 'btn btn-danger'
div id="destroy-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
